<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Angular.UI.UI-Router" version="0.2.10" targetFramework="net45" />
  <package id="AngularJS.Core" version="1.2.16" targetFramework="net45" />
  <package id="AngularJS.Route" version="1.2.16" targetFramework="net45" />
  <package id="angularjs.TypeScript.DefinitelyTyped" version="1.0.4" targetFramework="net45" />
  <package id="angular-protractor.TypeScript.DefinitelyTyped" version="0.0.3" targetFramework="net45" />
  <package id="angular-ui.TypeScript.DefinitelyTyped" version="0.0.8" targetFramework="net45" />
  <package id="jasmine.TypeScript.DefinitelyTyped" version="0.2.4" targetFramework="net45" />
  <package id="jasmine-fixture.TypeScript.DefinitelyTyped" version="0.0.3" targetFramework="net45" />
  <package id="jasmine-matchers.TypeScript.DefinitelyTyped" version="0.0.4" targetFramework="net45" />
  <package id="jquery.TypeScript.DefinitelyTyped" version="0.8.7" targetFramework="net45" />
  <package id="requirejs.TypeScript.DefinitelyTyped" version="0.1.9" targetFramework="net45" />
  <package id="selenium-webdriver.TypeScript.DefinitelyTyped" version="0.0.2" targetFramework="net45" />
</packages>