.card-container {
    width: 240px;
    height: 180px;
    position: relative;
    border: 1px solid #CCC;
    margin: 10px;
    -webkit-perspective: 800px;
    -moz-perspective: 800px;
    -ms-perspective: 800px;
    perspective: 800px;
    float: left;
}

.card {
    width: 100%;
    height: 100%;
    position: absolute;
    -webkit-transition: -webkit-transform 1s;
    -moz-transition: -moz-transform 1s;
    -o-transition: -o-transform 1s;
    transition: transform 1s;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

    .card.flipped {
        -webkit-transform: rotateY( 180deg );
        -moz-transform: rotateY( 180deg );
        -o-transform: rotateY( 180deg );
        -ms-transform: rotateY( 180deg );
        transform: rotateY( 180deg );
    }

    .card figure {
        display: block;
        height: 100%;
        width: 100%;
        line-height: 260px;
        color: white;
        text-align: center;
        font-weight: bold;
        font-size: 140px;
        position: absolute;
        -webkit-backface-visibility: hidden;
        -moz-backface-visibility: hidden;
        backface-visibility: hidden;
    }

        .card figure img {
            width: 100%;
            height: 100%;
            background-color: #555;
        }

    .card .back {
        -webkit-transform: rotateY( 180deg );
        -moz-transform: rotateY( 180deg );
        -o-transform: rotateY( 180deg );
        -ms-transform: rotateY( 180deg );
        transform: rotateY( 180deg );
    }
